In [ ]:
!python

In [3]:
import pandas as pd

ModuleNotFoundError: No module named 'pandas'

In [5]:
from selenium import webdriver

driver = webdriver.Chrome('./chromedriver')
# driver = webdriver.PhantomJS('./phantomjs')

In [2]:
base_url = "https://finance.naver.com/item/main.nhn?code="

In [3]:
size_market_url = "https://finance.naver.com/sise/sise_market_sum.nhn?&page=1"

In [6]:
driver.get(size_market_url)

In [8]:
driver.find_element_by_css_selector("#contentarea > div.box_type_l > table.type_2 > tbody > tr:nth-child(2)").text

'1 삼성전자 53,500 0 0.00% 100 3,193,834 5,969,783 57.54 8,098,262 8.88 19.63'

In [ ]:
href = driver.find_element_by_css_selector("#contentarea > div.box_type_l > table.type_2 > tbody > tr:nth-child(78) > td.center > a")
href.get_attribute("href").split("code=")[1]

In [28]:
codeL = []

index = 2
for i in range(50):
    href = driver.find_element_by_css_selector("#contentarea > div.box_type_l > table.type_2 > tbody > tr:nth-child("+str(index)+") > td.center > a")
    nowCode = href.get_attribute("href").split("code=")[1]
    codeL.append(nowCode)
    if(index % 8 == 6):
        index += 4
    else:
        index += 1

In [30]:
pd.DataFrame(codeL)

         0
0   005930
1   000660
2   005935
3   035420
4   005380
5   207940
6   012330
7   068270
8   051910
9   055550
10  017670
11  005490
12  028260
13  034730
14  051900
15  105560
16  015760
17  000270
18  006400
19  018260
20  032830
21  096770
22  033780
23  035720
24  003550
25  036570
26  066570
27  000810
28  086790
29  010950
30  090430
31  316140
32  009150
33  009540
34  010130
35  011170
36  251270
37  030200
38  024110
39  021240
40  035250
41  069500
42  002790
43  032640
44  018880
45  086280
46  267250
47  034220
48  000720
49  006800

 2  3  4  5  6
10 11 12 13 14
18 19 20 21 22

In [ ]:
#contentarea > div.box_type_l > table.type_2 > tbody > tr:nth-child(6) > td.center > a

In [ ]:
#contentarea > div.box_type_l > table.type_2 > tbody > tr:nth-child(10) > td.center > a

In [ ]:
#contentarea > div.box_type_l > table.type_2 > tbody > tr:nth-child(14) > td.center > a

In [ ]:
#contentarea > div.box_type_l > table.type_2 > tbody > tr:nth-child(18) > td.center > a

In [ ]:
#contentarea > div.box_type_l > table.type_2 > tbody > tr:nth-child(78) > td.center > a